html{
    background-color: #546de5;
    font-family: 'Alata', sans-serif;
}
.titulo{
    font-size: 20px;
    letter-spacing: 2px;
    color: black;
    padding-left: 8px; 
    padding-top: 10px;
    margin: 5px auto;
}
h2{
    font-size: 25px;
    letter-spacing: 2px;
    color: black;
    padding-left: 8px;
}
body{
    background-color: white;
    width: 1200px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    border: 5px #2980b9 solid;
}
#t1{
   color: white;
   background-color: #63cdda;
   padding: 10px;
   border: 5px #63cdda;
   margin: 10px;
   font-size: 60px;
   text-align: center;
}
.p1{
   color:black;
   padding-left: 0px;
   padding-top: 0px;
   margin: 5px;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 1px;
}
li{
    letter-spacing: 2px;
}
.p2{
    color:black;
    padding-left: 0px;
    padding-top: 5px;
    margin: 2px;
    font-size: 17px;
 }
 img{
     display: block;
     margin: 0 auto;
     width: 400px;
     height: 300px;
 }